.modhyobitto-table{
  border: solid 1px #7cb342;
  .modhyobitto-table__grid{
    width: 100%;
    .mat-header-row{
      background-color: #7cb342;
      .mat-header-cell{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
      }
    }
    .highlighted-row{
      animation-name: highlighted-row-pulse;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: 4;

      @keyframes highlighted-row-pulse {
        0% {
          background-color: transparent;
        }
        100% {
          background-color: #7cb342;
        }
      }
    }
    .mat-cell{
      color: rgb(0,0,0,0.26);
      &.row-action-column{
        padding: 0 8px 0 1.5rem;
        width: 72px;
      }
    }
    .numeric-col{
      &.mat-cell, &.mat-header-cell{
        text-align: right;
        padding-right: 1.5rem;
      }
      &.mat-cell{
        font-family: 'RobotoMono', sans-serif;
      }
    }
  }
  .modhyobitto-table__add{
    display: flex;
    justify-content: flex-end;
    padding: 10px 8px 0;
  }
  .modhyobitto-table__action-button{
    background: transparent;
    border-radius: 50%;
    color: #7cb342;
    height: 40px;
    padding: 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:focus{
      background: rgb(0,0,0,0.12);
    }
    &:hover{
      background: transparent;
    }
    &:focus, &:hover{
      color: #7cb342;
    }
  }
}
