<h2 mat-dialog-title *ngIf="!editMode">Додавання нового клієнту</h2>
<h2 mat-dialog-title *ngIf="editMode">Редагування даних клієнта</h2>

<mat-dialog-content [formGroup]="form" fxLayout="column">

  <mat-form-field>
    <input matInput type="text"
           placeholder="ПІБ"
           formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="tel"
           placeholder="Номер телефону"
           formControlName="phoneNumber">
    <mat-error *ngIf="hasError('phoneNumber', 'pattern')">Невірний номер телефону</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email"
           placeholder="Email"
           formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker"
           placeholder="Дата народження"
           formControlName="dateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text"
           placeholder="Адреса місця підключення"
           formControlName="address">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">

  <button class="mat-raised-button"
          (click)="close()">
    Закрити
  </button>

  <button *ngIf="!editMode" class="mat-raised-button mat-primary" (click)="create()">
    Додати
  </button>
  <button *ngIf="editMode" class="mat-raised-button mat-primary" (click)="save()">
    Зберегти
  </button>

</mat-dialog-actions>
