<mat-tab-group class="container">
  <mat-tab label="Orders">
    <div>
      <app-order></app-order>
    </div>
  </mat-tab>

  <mat-tab label="Clients">
    <div>
      <app-client></app-client>
    </div>
  </mat-tab>

  <mat-tab label="Employees">
    <div>
      <app-employee></app-employee>
    </div>
  </mat-tab>

  <mat-tab label="Services">
    <div>
      <app-service></app-service>
    </div>
  </mat-tab>

  <mat-tab label="Positions">
    <div>
      <app-position></app-position>
    </div>
  </mat-tab>

  <mat-tab label="Payments History">
    <div>
      <app-payment></app-payment>
    </div>
  </mat-tab>

  <mat-tab label="Work Status">
    <div>
      <app-work-status></app-work-status>
    </div>
  </mat-tab>
</mat-tab-group>
