<mat-tab-group class="container">
  <mat-tab label="Замовлення">
    <div>
      <app-order></app-order>
    </div>
  </mat-tab>

  <mat-tab label="Клієнти">
    <div>
      <app-client></app-client>
    </div>
  </mat-tab>

  <mat-tab label="Співробітники">
    <div>
      <app-employee></app-employee>
    </div>
  </mat-tab>

  <mat-tab label="Послуги">
    <div>
      <app-service></app-service>
    </div>
  </mat-tab>

  <mat-tab label="Посади">
    <div>
      <app-position></app-position>
    </div>
  </mat-tab>

  <mat-tab label="Історія оплат">
    <div>
      <app-payment></app-payment>
    </div>
  </mat-tab>

  <mat-tab label="Статуси роботи">
    <div>
      <app-work-status></app-work-status>
    </div>
  </mat-tab>
</mat-tab-group>
