<h2 mat-dialog-title *ngIf="!editMode">Додавання нової послуги</h2>
<h2 mat-dialog-title *ngIf="editMode">Редагування даних послуги</h2>

<mat-dialog-content [formGroup]="form" fxLayout="column">

  <mat-form-field>
    <input matInput type="text"
           placeholder="Назва послуги"
           formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number"
           placeholder="Вартість"
           formControlName="serviceCost">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number"
           placeholder="Вартість підключення"
           formControlName="connectionCost">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">

  <button class="mat-raised-button"
          (click)="close()">
    Закрити
  </button>

  <button *ngIf="!editMode" class="mat-raised-button mat-primary" (click)="create()">
    Додати
  </button>
  <button *ngIf="editMode" class="mat-raised-button mat-primary" (click)="save()">
    Зберегти
  </button>

</mat-dialog-actions>
